#ingore
vs*
*.vcx*
*.sln
x64
x86
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Chapter02/.vs/Chapter2/v17/Browse.VC.opendb
/Chapter02/.vs/Chapter2/v17/Browse.VC.db-shm
/Chapter02/.vs/Chapter2/v17/Browse.VC.db-wal
/Chapter02/.vs/Chapter2/v17/Browse.VC.db
/Chapter02/.vs/Chapter2/v17/.suo
/Chapter02/.vs/Chapter2/v17/ipch/AutoPCH/cd9d59e12f1dbb28/TIMBER.ipch
/BGPSFML
